@model BadgerysCreekHotel.Models.Booking

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomID" class="control-label"></label>
                <select asp-for="RoomID" class="form-control" asp-items="ViewBag.RoomID"></select>
            </div>
            @if (User.IsInRole("Administrators"))
            {
                <div class="form-group">
                    <label asp-for="CustomerEmail" class="control-label"></label>
                    <select asp-for="CustomerEmail" class="form-control" asp-items="ViewBag.CustomerEmail"></select>
                </div>
            }


            <div class="form-group">
                <label asp-for="CheckIn" class="control-label"></label>
                <input asp-for="CheckIn" class="form-control" />
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOut" class="control-label"></label>
                <input asp-for="CheckOut" class="form-control" />
                <span asp-validation-for="CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@if (ViewBag.OrderedRoom != null)
{
    <div>
        <hr />
        <h4>
            <b>Room @Model.TheRoom.RoomID</b> has been booked successfully.
            <br />
            Level : @Model.TheRoom.Level
            <br />
            CheckIn Date : @Model.CheckIn.ToShortDateString()
            <br />
            CheckOut Date : @Model.CheckOut.ToShortDateString()
            <br />
            Total Cost : $ @Model.Cost
        </h4>
    </div>
}


